body {
   font-family: sans-serif;
   background-color: #F2F2F2;
}

header {
   background-color: #202635;
   z-index: 100;
   position: fixed;
   display: block;
   min-width: 100%
}

.main-title {
   float: left;
   font-size: 24pt;
   font-weight: bold;
   margin-left: 20px;
   padding-top: 35px;
   color: #F2F2F2;
}

.content {
   margin-left: 10px;
   min-height: 100%;
   display: block;
}

.page-title {
   border-bottom: 2px solid #202635;
   margin-bottom: 10px;
   position: relative;
   padding: 140px 10px 10px;
   display: block;
}

.page-title > .title {
   display: block;
   font-size: 14pt;
   font-weight: bold;
   padding: 2px;
   margin: 0px;
}

p.reg-info {
   margin: 0px;
   padding: 10px;
   font-size: 12pt;
}

p.reg-info > a:not(.btn) {
   color: #202635;
   text-decoration: none;
   cursor: pointer;
}

p.reg-info > a:hover:not(.btn) {
   background-color: #202635;
   color: #F2F2F2;
}

p.empty-info {
   margin: 0px;
   padding: 10px;
   font-size: 12pt;
   color: #CCCCCC;
}

p.secao-titulo {
   font-size: 12pt;
   font-weight: bold;
   border-bottom: 1px solid #202635;
}

p.secao-titulo2 {
   font-size: 11pt;
   font-weight: bold;
   margin-left: 10px;
}

p.secao-corpo {
   font-size: 11pt;
   margin-left: 10px;
   text-align: justify;
}

.text-bold {
   font-weight: bold;
}

.panel-heading > .panel-header {
   font-size: 12pt;
   font-weight: bold;
}

@media only all and (max-width:768px){
   .main-title {
      font-size: 14pt;
   }
}